{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Département{% endblock %}

{% block body %}
    <h1>Modifier Département</h1>

    {{ include('departments/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    {{ include('departments/_delete_form.html.twig') }}
{% endblock %}
