{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau Département{% endblock %}

{% block body %}
    <h1>Nouveau Département</h1>

    {{ include('departments/_form.html.twig') }}

    <a href="{{ path('departments_index') }}"><i class="fas fa-undo-alt"></i></a>
{% endblock %}
