{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau Département{% endblock %}

{% block body %}
    <h1>Nouveau Département</h1>

    {{ include('departments/_form.html.twig') }}

    
{% endblock %}
