{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Artiste{% endblock %}

{% block body %}
<h1>Modifier Artiste</h1>

{{ include('artists/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

{% if is_granted('ROLE_ADMIN') %}
{{ include('artists/_delete_form.html.twig') }}
{% endif %}
{% endblock %}