<form method="post" action="{{ path('cities_delete', {'id': city.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir effacer cette ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    <button class="btn">Supprimer</button>
    {# <i class="far fa-trash-alt"></i> #}
</form>
