{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Ville{% endblock %}

{% block body %}
    <h1>Modifier Ville</h1>

    {{ include('cities/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    {# <i class="far fa-save"></i> #}

    {{ include('cities/_delete_form.html.twig') }}
{% endblock %}
