{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle Ville{% endblock %}

{% block body %}
    <h1>Nouvelle Ville</h1>

    {{ include('cities/_form.html.twig') }}

    <a href="{{ path('cities_index') }}"><i class="fas fa-undo-alt"></i></a>
{% endblock %}
