{% extends 'base.html.twig' %}

{% block title %}Edit Publics{% endblock %}

{% block body %}
    <h1>Edit Publics</h1>

    {{ include('publics/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('publics_index') }}">back to list</a>

    {{ include('publics/_delete_form.html.twig') }}
{% endblock %}
