
<form method="post" action="{{ path('contact_us_delete', {'id': contact_u.id}) }}" onsubmit="return confirm('Etes-vous sûre de supprimer cette email?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_u.id) }}">
    <button class="btn">Delete</button>
</form>

