{% extends 'base.html.twig' %}

{% block title %}Contactez-nous
{% endblock %}

{% block body %}
	<section class="bg-primary-custom" style="height: 100vh">
		<div class="container bg-light-custom py-5" style="height: 100vh">
			<h1 class="contact">Contactez-nous</h1>
			<div class="row">
				{{ include('contact_us/_form.html.twig') }}
			</div>
		</div>
	</section>


{% endblock %}
