{% extends 'base.html.twig' %}

{% block title %}New ContactUs{% endblock %}

{% block body %}
<section class="bg-primary-custom">
    <div class="container bg-light-custom py-5 d-flex justify-content-center">
    <h1>Contactez-nous</h1>
    {{ include('contact_us/_form.html.twig') }}
    </div>
</section>
   





  
{% endblock %}
