{% extends 'base.html.twig' %}

{% block title %}New Patners{% endblock %}

{% block body %}
    <h1>Create new Patners</h1>

    {{ include('patners/_form.html.twig') }}

    <a href="{{ path('patners_index') }}">back to list</a>
{% endblock %}
