{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau Partenaire{% endblock %}

{% block body %}
    <h1>Nouveau Partenaire</h1>

    {{ include('patners/_form.html.twig') }}


{% endblock %}
