{% if is_granted("ROLE_ADMIN") %}
<form method="post" action="{{ path('festivals_delete', {'id': festival.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir effacer ce festival');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ festival.id) }}">
    <button class="btn">Supprimer</button>
</form>
{% endif %}
