{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Festival{% endblock %}

{% block body %}
    <h1>Modifier Festival</h1>

    {{ include('festivals/_form.html.twig', {'button_label': 'Update'}) }}



    {{ include('festivals/_delete_form.html.twig') }}
{% endblock %}
