{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau Festival{% endblock %}

{% block body %}
    <h1>Nouveau Festival</h1>

    {{ include('festivals/_form.html.twig') }}

   
{% endblock %}
