<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Start link css files #}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {# End link css files #}
        {# Start link js files #}
        <script src="{{ asset('public\js\bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('public\js\app.js') }}"></script>
        {# End link js files #}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
