{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle Utilisateur{% endblock %}

{% block body %}
    <h1>Nouvelle Utilisateur</h1>

    {{ include('user/_form.html.twig') }}


{% endblock %}
